html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
li,
i,
span,
a {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}

.clear {
    zoom: 1;
}
